@model DataAccess.Entities.Author



<div class="card mb-3" style="width:100%; height:100%">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@(Model.ImagePath ?? "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg")"
                 class="card-img-top mx-auto d-block"
                 style="width: 250px; height: 400px;"
                 alt="Author Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <p class="card-text">@Model.Biography</p>
                
            </div>
            @if (ViewBag.ReturnUrl == null)
            {
                <a asp-action="Index" class="btn btn-primary">Back</a>
            }
            else
            {
                <a href="@ViewBag.ReturnUrl" class="btn  btn-outline-secondary" style="width: 140px">Back</a>
            }
        </div>
       
    </div>

    
</div>
<h3>Books by @Model.FirstName @Model.LastName</h3>
@{
    var books = ViewBag.Books as List<DataAccess.Entities.Book>;
}
@if (books != null && books.Any())
{
    <ul class="list-group">
        @foreach (var book in books)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span>
                        <strong>@book.Title</strong>
                        - @book.PaperPrice
                    </span>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-info btn-sm">Details</a>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No books found for this author.</p>
}