@model List<DataAccess.Entities.Publisher>

<nav class=" d-flex justify-content-center align-items-center">
    <form asp-action="Index" method="get" class="d-flex w-50 mb-4" role="search">
        <input class="form-control me-2" type="search" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
</nav>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var publ in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-action="Index" asp-controller="Home"
                   asp-route-publisherId="@publ.Id"
                   asp-route-returnUrl="@Context.Request.Path" style="text-decoration: none; color: inherit;">
                    @publ.PublisherName
                </a>
                <span class="badge bg-secondary">@publ.BookCount</span>
            </li>
        }
    </ul>
}
else
{
    <p class="text-center mt-4">No categories found yet.</p>
}
